/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/pexels-philippe-donn-1169754.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.category {
    padding: 20px;
    text-align: center;
}

/* Apply consistent dimensions to movie posters */
.category a img {
    #selected-movie img {
    max-width: 200px; /* Set the desired width */
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Adjust font size for movie titles */
.category h2 {
    font-size: 1.2em;
    margin: 0;
}

/* Add responsive design for smaller screens */
@media (max-width: 768px) {
    /* Adjust movie poster size for smaller screens */
    .category a img {
        max-width: 150px;
    }

    /* Adjust font size for movie titles on smaller screens */
    .category h2 {
        font-size: 1em;
    }
}

/* Scrollable container for movie posters */
.category {
    overflow-x: scroll; /* Enable horizontal scrolling */
    white-space: nowrap;
}

.category a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    margin-right: 15px;
    max-width: 200px; /* Adjust as needed */
}

/* Additional styling for 'see all' link */
.see-all {
    display: block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
}

/* Styles for search form */
#search-form {
    margin-top: 10px;
}

#search-input {
    padding: 5px;
}

#search-form button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
